[tools]
bun = "1.2.21"
node = "20"

[tasks.setup]
description = "Install dependencies"
run = [
  "bun install"
]

[tasks.dev]
description = "Dev"
depends = ["setup"]
run = [
  "bun x astro dev"
]

[tasks.build]
description = "Build the project"
depends = ["setup"]
run = [
  "bun x astro build"
]

[tasks.fix]
run = [
  "bun x biome check --unsafe --write .",
]
