body {
  margin: 60px;
  font-family: monospace;
  font-size: 16px;
  color: #eee;
  background: #0c0c0c;
}

a[href] {
  text-decoration: underline;
  color: #e7b52b;
}

gyro-terminal {
  background: #131313;
  cursor: text;
  display: flex;
  height: 400px;
}

::selection {
  background: grey;
}
