---
import Headline from "../components/Headline.astro";
import SectionLink from "../components/SectionLink.astro";
import Page from "../layouts/default.astro";
---

<Page
  meta={{
    title: "luckydye",
    description: "luckydye",
  }}
>
  <main slot="main" class="overflow-hidden mx-auto px-8 max-w-[1200px]">
    <div class="container">
      <Headline>Page not found</Headline>
    </div>

    <div class="container pt-40">
      <SectionLink link="home">Back to home</SectionLink>
    </div>
  </main>
</Page>
