---
import { getCollection } from "astro:content";
import { FilteredPosts } from "../components/FilteredPosts";
import Headline from "../components/Headline.astro";
import SectionLink from "../components/SectionLink.astro";
import Stage from "../components/Stage.astro";
import { Tabs } from "../components/TagTabs";
import Page from "../layouts/default.astro";
import { byDate } from "../utils";

const tags = await getCollection("tags").then((tags) => tags.map((tag) => tag.data));

const posts = await getCollection("post").then((posts) => {
  return posts.filter((post) => !post.id.includes("-draft-"));
});
---

<Page
    meta={{
        title: "luckydye",
        description: "luckydye",
    }}
>
    <div slot="main" class="container">
        <section>
            <Stage />
        </section>
        <div class="pb-20"></div>
        <Headline>Work</Headline>
        <div class="pb-20"></div>

        <Tabs client:load items={tags} />

        <div class="pb-20"></div>
    </div>

    <div slot="main" class="container">
      <FilteredPosts posts={posts} tag="dataviz" />
    </div>

    <div slot="main" class="container pt-40">
        <SectionLink link="github">More projects on my GitHub</SectionLink>
    </div>
</Page>
