---
import "../styles/global.css";
import Intro from "../components/Intro.astro";
import Project from "../components/Project.astro";
import Projects from "../components/Projects.astro";
import Post from "../components/Post.astro";
import Socials from "../components/Socials.astro";
import Badges from "../components/Badges.astro";
import Terminal from "../components/Terminal.astro";
---

<html lang="en">
	<head>
		<title>luckydye</title>
		<meta name="description" content="My homepage." />

		<script defer data-domain="luckydye.dev" src="https://collect.luckydye.de/js/script.js"
		></script>
	</head>
	<body>
		<main>
			<Intro />

			<Project />

			<Post />

			<Projects />

			<Socials />

			<Badges />

			<Terminal />
		</main>
	</body>
</html>
