---
export const prerender = true;

import { getCollection } from "astro:content";
import Post from "../components/Post.astro";
import Seperator from "../components/Seperator.astro";
import SectionLink from "../components/SectionLink.astro";
import Page from "../layouts/default.astro";
import { byDate } from "../utils.ts";
import Stage from "../components/Stage.astro";

const posts = await getCollection("post").then((posts) => {
    return posts.filter((post) => !post.slug.includes("-draft-"));
});
---

<Page
    meta={{
        title: "luckydye",
        description: "luckydye",
    }}
>
    <div slot="main" class="container">
        <section>
            <Stage />
        </section>
        <div class="pb-40"></div>
    </div>

    <div slot="main" class="container">
        {
            posts.sort(byDate).map((post) => (
                <div class="pb-[100px]">
                    <Post post={post} />
                </div>
            ))
        }
    </div>

    <div slot="main" class="container pt-40">
        <SectionLink link="github">More projects on my GitHub</SectionLink>
    </div>
</Page>
