---
import { getCollection } from "astro:content";
import { FilteredPosts } from "../components/FilteredPosts";
import Headline from "../components/Headline.astro";
import SectionLink from "../components/SectionLink.astro";
import Stage from "../components/Stage.astro";
import Page from "../layouts/default.astro";

const excludeTags = ["gallary", "project", "post"];

const tags = await getCollection("tags")
  .then((tags) => tags.map((tag) => tag.data))
  .then((tags) => tags.filter((tag) => !excludeTags.includes(tag.id)));

const posts = await getCollection("post").then((posts) => {
  return posts.filter((post) => !post.id.includes("-draft-"));
});
---

<Page
  meta={{
    title: "luckydye",
    description: "luckydye",
  }}
>
  <div slot="main" class="container">
    <section>
      <Stage />
    </section>
    <div class="pb-20"></div>
  </div>

  <div slot="main" class="container">
    <FilteredPosts client:load posts={posts} tags={tags} />
  </div>

  <div slot="main" class="container pt-40">
    <SectionLink link="github">More projects on GitHub</SectionLink>
  </div>
</Page>
