---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<title>luckydye</title>
		<meta name="description" content="My homepage." />

		<script defer data-domain="luckydye.dev" src="https://collect.luckydye.de/js/script.js"
		></script>
	</head>
	<body>
		<script src="../terminal.ts"></script>
	</body>
</html>
