---
export const prerender = true;

import { getCollection } from "astro:content";
import Intro from "../components/Intro.astro";
import Post from "../components/Post.astro";
import SectionLink from "../components/SectionLink.astro";
import Page from "../layouts/default.astro";

const posts = await getCollection("post");
---

<Page meta={{
  title: "luckydye",
  description: "My homepage.",
}}>
  <div slot="main" class="container">
    <div class="py-10 md:py-20 pb-16 md:pb-32">
      <Intro />
    </div>
  </div>

  <div slot="main" class="container flex justify-center pb-20">
    <svg width="50" height="10" viewBox="0 0 50 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="4.5" stroke="var(--color-fg-1)"></circle>
      <circle cx="25" cy="5" r="4.5" stroke="var(--color-fg-1)"></circle>
      <circle cx="45" cy="5" r="4.5" stroke="var(--color-fg-1)"></circle>
    </svg>
  </div>

  <div slot="main" class="container">
    {posts.sort((a, b) => {
      const va = a.data.date ? new Date(a.data.date).valueOf() : 0;
      const vb = b.data.date ? new Date(b.data.date).valueOf() : 0;
      return vb - va;
    }).map((post) => <Post post={post} />)}
  </div>

  <div slot="main" class="container pt-40">
    <SectionLink link="github">More projects on my GitHub</SectionLink>
  </div>
</Page>
