---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<title>luckydye</title>
		<meta name="description" content="My homepage." />
	</head>
	<body>
		<script src="../terminal.ts"></script>
	</body>
</html>
