---
import { getCollection } from "astro:content";
import { FilteredPosts } from "../components/FilteredPosts";
import SectionLink from "../components/SectionLink.astro";
import Stage from "../components/Stage.astro";
import Page from "../layouts/default.astro";
import { sourceCollection, toWebsitePost, toWebsiteTag } from "../vektor-content";

const excludeTags = ["gallary", "project", "post"];

const entries = await getCollection("pages");

const tags = entries
  .filter((entry) => sourceCollection(entry) === "tags")
  .map(toWebsiteTag)
  .filter((tag) => !excludeTags.includes(tag.id));

const posts = entries
  .filter((entry) => sourceCollection(entry) === "post")
  .map(toWebsitePost)
  .filter((post) => !post.id.includes("-draft-"));
---

<Page
  meta={{
    title: "luckydye",
    description: "luckydye",
  }}
>
  <main slot="main" class="overflow-hidden mx-auto">
    <div>
      <section>
        <Stage />
      </section>
      <div class="pb-20"></div>
    </div>

    <FilteredPosts client:load posts={posts} tags={tags} />

    <div class="container pt-40">
      <SectionLink link="github">More projects on GitHub</SectionLink>
    </div>
  </main>
</Page>
