---
import { getCollection, getEntry, render } from "astro:content";
import Headline from "../components/Headline.astro";
import Post from "../components/Post.astro";
import SectionLink from "../components/SectionLink.astro";
import Page from "../layouts/default.astro";
import { byDate, getPostType } from "../utils";

const posts = await getCollection("post").then((posts) => {
  return posts.filter((post) => !post.id.includes("-draft-"));
});

const entry = await getEntry("page", "portfolio");
const { Content } = await render(entry);
---

<Page meta={{
  title: entry.data.title,
  description: entry.data.description,
}}>
  <div slot="main" class="content max-w-[800px]">
    <Content />
  </div>

  <Headline slot="main">Recent Posts</Headline>

  <div slot="main" class="container pt-12">
    {posts
      .filter(p => getPostType(p) === "teaser")
      .sort(byDate)
      .slice(0, 3)
      .map((post) => <div class="pt-4"><Post post={post} /></div>)}

    <SectionLink link="home">View all</SectionLink>
  </div>

  <Headline slot="main">Personal Projects</Headline>

  <div slot="main" class="container pt-12">
    {posts
      .filter(p => getPostType(p) === "project")
      .sort(byDate)
      .slice(0, 3)
      .map((post) => <div class="pt-4"><Post post={post} /></div>)}

    <SectionLink link="home">View all</SectionLink>
  </div>
</Page>
