---
export const prerender = true;

import { getCollection } from "astro:content";
import Intro from "../components/Intro.astro";
import Post from "../components/Post.astro";
import Seperator from "../components/Seperator.astro";
import SectionLink from "../components/SectionLink.astro";
import Page from "../layouts/default.astro";

const posts = await getCollection("post").then((posts) => {
  return posts.filter((post) => !post.slug.includes("-draft-"));
});
---

<Page meta={{
  title: "luckydye",
  description: "My homepage.",
}}>
  <div slot="main" class="container">
    <div class="py-10 md:py-20 pb-16 md:pb-32">
      <Intro />
    </div>
  </div>

  <Seperator slot="main" />

  ..

</Page>
