---
export const prerender = false;

import Page from "../layouts/default.astro";
import SectionLink from "../components/SectionLink.astro";
import * as cms from "../cms.js";

// const examples = await cms.getProducts();
---

<Page meta={{
  title: "luckydye",
  description: "My homepage."
}}>
  <div class="container mt-10">
    <SectionLink align="left" link="home">To my homepage</SectionLink>

    <h1 class="mt-14">Prints</h1>
  </div>

  <div class="container my-80">
    <!-- <pre>{JSON.stringify(examples)}</pre> -->
  </div>
</Page>

<style></style>
