---
import type { ContentEntryType } from "astro";
import { getCollection } from "astro:content";

import Page from "../../layouts/Page.astro";

export interface Props {
  post: ContentEntryType["post"];
}

export async function getStaticPaths() {
  const allPosts = await getCollection("post");
  return allPosts.map((post) => {
    const slug = post.slug;
    console.log(slug);

    return {
      params: { slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;

const postData = post?.data;
const { Content } = await post.render();
---

<Page>
  <title slot="head">luckydye</title>
  <meta slot="head" name="description" content="My homepage." />

  <div class="post my-20 mx-4">
    <a href={post?.slug}>
      <h2 class="mt-2">{postData?.title}</h2>
    </a>
    <p class="date">{postData?.date.toLocaleDateString()}</p>
    <p>{postData?.description}</p>
  </div>

  <div class="container-tiny mb-40">
    <Content />
  </div>
</Page>

<style>
  .post {
    border-radius: 8px;
    background: var(--color-bg-1);
    padding: 20px 40px;
    border: 1px solid var(--color-fg-1);
  }
  .date {
    opacity: 0.5;
    font-weight: 400;
  }
</style>
