.container {
  margin: 0 auto;
}

body {
  margin: 0;
  font-size: 1.125rem;
  background: var(--color-bg-0);
  color: var(--color-text);
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

blockquote {
  margin: 10px 0 40px 0;
  padding: 10px 30px;
  background: #28282a;
}

hr {
  opacity: 0.2;
  margin: 15px 0 20px 0;
  border-width: 1px;
  border-top: none;
}

.headline {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 300;
  margin: 15px 0 0 0;
}

.headline-subline {
  font-size: 1.8rem;
  line-height: 1.33;
  font-weight: 400;
  margin: 0;
}

.headline-accent {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}

p {
  line-height: 1.65;
  margin: 15px 0;
}

[href] {
  color: inherit;
  text-decoration: underline;
}

.rive canvas {
  display: block;
}

.content h1 {
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.content h2 {
  font-size: 1.8rem;
  color: var(--color-accent);
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.content h4 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.content pre {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 6px;
}
.content ul {
  list-style: circle;
  margin-left: 1rem;
}
.content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
