@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@import "@fontsource/geist/500";
@import "@fontsource/geist/300";

@import "./global.css";
@import "./images.css";
@import "./project.css";

@theme {
  --color-bg-0: hsl(180 2% 10% / 1);
  --color-bg-1: hsl(240 3% 15% / 1);
  --color-fg-0: #4e5b5c;
  --color-fg-1: hsl(240 3% 20% / 1);
  --color-accent: #eb9124;
  --color-text: #f9f6f4;

  --font-sans: "Geist", sans-serif;

  --breakpoint-\*: initial;
  --breakpoint-sm: 690px;
  --breakpoint-md: 1200px;
  --breakpoint-lg: 1600px;
}
