@import "./global.css";
@import "tailwindcss";

@theme {
  --color-bg-0: #101111;
  --color-bg-1: #1e1e20;
  --color-fg-0: #4e5b5c;
  --color-fg-1: #28282a;
  --color-accent: #eb9124;
  --color-text: #f9f6f4;
}
