.caption {
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}
.description {
  max-width: 600px;
}
.background {
  overflow: hidden;
  position: relative;
}
.background::after {
  pointer-events: none;
  content: "";
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    -25deg,
    hsl(240 3% 9% / 1) -10%,
    var(--color-bg-0),
    rgba(20, 20, 22, 0.25) 50%
  );
}
h2 {
  margin: 0;
}
