---
import { Image } from "astro:assets";
const { images } = Astro.props;
---

<div>
  {
    images.map((image: string) => {
      return <Image src={image} width={225} height={325} alt={image} />;
    })
  }
</div>
