---
import Rive from "./ui/Rive.jsx";
---

<div class="container grid">
  <div class="logo">
    <Rive width={200} height={400} src="/logo.riv" client:only />
  </div>

  <div class="caption my-6 md:mr-20">
    <h1 class="text-4xl mb-4">Hi, I'm Tim.</h1>
    <p class="opacity-50">Software Development | Computer Graphics | Photography</p>
    <p class="mt-5">
      I have been maintaining websites for multi billion-dollar companies and building Full Stack
      web applications. I enjoy designing User-Interfaces and Tools to make complex or impossible
      tasks easy and intuitive.
    </p>
  </div>
</div>

<style>
  .container {
    grid-template-columns: 300px auto;
    align-items: center;
    justify-content: center;
    grid-gap: 100px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    height: 440px;
    --width: 100%;
    --height: auto;
  }
  .caption {
    max-width: 600px;
  }
  @media screen and (max-width: 640px) {
    .container {
      align-items: flex-start;
      grid-template-columns: 1fr;
      grid-template-rows: 250px auto;
      grid-gap: 0px;
    }
    .logo {
      height: 100%;
      --height: 300px;
    }
  }
</style>
