<div class="caption my-6 md:mr-20 self-end">
  <h1 class="font-headline text-4xl mb-4">Hi, I'm Tim.</h1>
  <p class="opacity-50">
    Creative, Designer, and Software Engineer.
  </p>
  <p class="mt-5">
    I have over 7 years of experience building and maintaining production
    software. I enjoy designing User-Interfaces and Tools to make complex or
    impossible tasks easy and intuitive.
  </p>
</div>

<style>
  .caption {
    max-width: 600px;
  }
</style>
