---
import { getCollection } from "astro:content";
import { sourceCollection, toWebsiteLink } from "../vektor-content";

interface Props {
  link: string;
}

const { link } = Astro.props;

const linkEntry = (await getCollection("pages"))
  .filter((entry) => sourceCollection(entry) === "link")
  .map(toWebsiteLink)
  .find((entry) => entry.id === link);
---

<a href={linkEntry?.link} target={linkEntry?.target}>
  <slot />
</a>

<style>
  a[href] {
    opacity: 0.75;
    line-height: 1.25;
    text-decoration: underline;
  }
  a[href]:hover {
    text-decoration: underline;
    opacity: 1;
  }
</style>
