---
import { getEntry } from "astro:content";

interface Props {
  id: string;
}

const { id } = Astro.props;

const postEntry = await getEntry("post", id);
const post = postEntry?.data;
---

<div class="py-10 my-20 px-8 rounded-md">
  <a class="block py-2" href={`/${postEntry?.slug}`}>
    <h2 class="pb-2 text-3xl font-normal">{post?.title}</h2>
  </a>
  <div class="flex gap-2 items-center">
    <div class="rounded-md bg-zinc-800 inline-block px-2 py-1">Post</div>
    <div class="opacity-75">{post?.date.toLocaleDateString()}</div>
  </div>
  <div class="py-2">
    <p>{post?.description}</p>
  </div>
</div>

<style>
  .date {
    opacity: 0.5;
    font-weight: 400;
  }
</style>
