---
import { getCollection } from "astro:content";

import arrowRight from "../assets/icons/arrow-right.svg";

interface Props {
  link: string;
  align?: string;
}

const { link, align } = Astro.props;

const linkEntry = (await getCollection("link")).find((entry) => entry.id === link);
---

<a href={linkEntry?.data.link} target={linkEntry?.data.target}>
  <div class="link text-right py-4" data-align={align}>
    <slot />
    <div class="arrow">
      <img width="20px" height="20px" src={arrowRight.src} alt="arrow right" />
    </div>
  </div>
</a>

<style>
  .link:hover .arrow {
    transform: translateX(2px);
  }
  .arrow {
    display: inline-block;
    margin-left: 12px;
    transition: transform 0.15s ease-out;
  }
  img {
    height: 1rem;
    vertical-align: baseline;
    margin-bottom: -0.15rem;
  }

  .link[data-align="left"] {
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row-reverse;

    &:hover .arrow {
      transform: rotate(180deg) translateX(2px);
    }
    .arrow {
      margin-right: 12px;
      margin-left: 0;
      transform: rotate(180deg);
    }
    img {
      height: 1rem;
      vertical-align: baseline;
      margin-bottom: -0.15rem;
    }
  }
</style>
