---
import { getCollection, getDataEntryById } from "astro:content";

import arrowRight from "../assets/arrow-right.svg";

interface Props {
  link: string;
}

const { link } = Astro.props;

const linkEntry = (await getCollection("link")).find((entry) => entry.id === link);
---

<a href={linkEntry?.data.link} target={linkEntry?.data.target}>
  <div class="link">
    <slot />
    <div class="arrow">
      <img src={arrowRight.src} alt="arrow right" />
    </div>
  </div>
</a>

<style>
  .link {
    text-align: right;
  }
  .link:hover .arrow {
    transform: translateX(2px);
  }
  .arrow {
    display: inline-block;
    margin-left: 12px;
    transition: transform 0.15s ease-out;
  }
  img {
    height: 1rem;
    vertical-align: baseline;
    margin-bottom: -0.15rem;
  }
</style>
