<div class="container">
  <a href="https://twitter.com/timh4v">Twitter</a>
  <a href="https://www.instagram.com/luckydye/">Instagram</a>
  <a href="https://github.com/luckydye">Github</a>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 40px;
    justify-content: center;
  }
</style>
