---
import Link from "./Link.astro";
---

<div class="container">
  <Link link="twitter">@timh4v</Link>
  <Link link="instagram">Instagram</Link>
  <Link link="github">Github</Link>
</div>

<style>
  .container {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 40px;
    justify-content: flex-start;
  }
</style>
