---
import Introduction from "./Introduction.astro";
---

<script>
  import riveWASMResource from "@rive-app/canvas-advanced-lite/rive.wasm?url";
  import { AnimationElement } from "@sv/elements/animation";
  console.log(riveWASMResource);
  AnimationElement.riveWasm = riveWASMResource;
</script>

<div class="pt-16 pb-6">
    <div class="container grid">
        <div class="logo">
            <a-animation width={200} height={400} src="/logo.riv"></a-animation>
        </div>

        <Introduction />
    </div>
</div>

<style>
    .container {
        grid-template-columns: 300px auto;
        align-items: center;
        justify-content: center;
        grid-gap: 100px;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 40px;
        height: 440px;
        --width: 100%;
        --height: auto;
    }
    @media screen and (max-width: 640px) {
        .container {
            align-items: flex-start;
            grid-template-columns: 1fr;
            grid-template-rows: 250px auto;
            grid-gap: 0px;
        }
        .logo {
            height: 100%;
            --height: 300px;
        }
    }
</style>
