---
import { getEntry } from "astro:content";

interface Props {
  id: string;
}

const { id } = Astro.props;

const teaserEntry = await getEntry("teaser", id);
const teaser = teaserEntry?.data;
---

<div class="post my-20 mx-4">
  <a href={`${teaser?.link}`}>
    <h2 class="mt-2">{teaser?.title}</h2>
  </a>
  <p>{teaser?.description}</p>
</div>

<style>
  .post {
    border-radius: 8px;
    background: var(--color-bg-1);
    padding: 20px 40px;
    border: 1px solid var(--color-fg-1);
  }
  .date {
    opacity: 0.5;
    font-weight: 400;
  }
</style>
