---
---

<div id="terminal"></div>

<script>
	import { initTerminal } from "terminal";

	async function init() {
		const term = await initTerminal("luckydye@web:~$ ");
		const ele = term.getTerminal();
		const root = document.getElementById("terminal");
		if (root) root.append(ele);
	}

	init();
</script>

<style is:global>
	gyro-terminal {
		margin: auto;
		position: relative;
		width: 1050px;
		height: 250px;
		padding-top: 80px;
	}
</style>
