@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-0: #101111;
  --color-bg-1: #1e1e20;
  --color-fg-0: #4e5b5c;
  --color-fg-1: #28282a;
  --color-accent: #eb9124;
  --color-text: #f9f6f4;
}

footer, main {
  max-width: 1100px;
  margin: auto;
}

code {
  color: var(--color-accent);
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 3px;
}

body {
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background: var(--color-bg-0);
  color: var(--color-text);
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

hr {
  opacity: 0.2;
  margin: 15px 0 20px 0;
  border-width: 1px;
  border-top: none;
}

h1, .headline {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 300;
  margin: 15px 0 0 0;
}

h2, .headline-subline {
  font-size: 1.8rem;
  line-height: 1.33;
  font-weight: 400;
  margin: 0;
}

h3, .headline-accent {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}

p {
  line-height: 1.65;
  margin: 15px 0;
}

[href] {
  color: inherit;
  text-decoration: underline;
}

.rive canvas {
  display: block;
}

.content  h1 {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.content  h2 {
  font-size: 1.8rem;
  color: var(--color-accent);
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.content  h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.content pre {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 6px;
}
.content ul {
  list-style: circle;
  margin-left: 1rem;
}
.content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
