---
import "../global.css";

import { ViewTransitions } from "astro:transitions";

import Link from "../components/Link.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <slot name="head" />

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />

    <ViewTransitions />
  </head>

  <body>
    <main>
      <slot />
    </main>

    <footer class="pb-40">
      <div class="container-tiny pt-10 pb-20">
        <h2 class="mb-4">Connect</h2>
        <div class="mb-1">
          <Link link="twitter">@timh4v</Link>
        </div>
        <div class="mb-1">
          <Link link="mail">tim.h4vlicek@gmail.com</Link>
        </div>
      </div>
    </footer>
    <style is:global>
      main {
        overflow: hidden;
        z-index: 10;
        position: relative;
        max-width: 1400px;
        margin: auto;
      }

      .container {
        padding: 0 20px;
        position: relative;
      }

      .container-small {
        position: relative;
        max-width: 1240px;
        margin: auto;
      }

      .container-tiny {
        position: relative;
        max-width: 1030px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 40px;
      }
    </style>
  </body>
</html>
