---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="module" src={(await import("../client/main.js?url")).default}></script>

    <script type="module">
      window.addEventListener("load", async (e) => {
        const term = await window.createTerminal();
        const terminal = term.getTerminal();
        document.body.appendChild(terminal);
      });
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
